@font-face {
    font-family: 'android';
    src: url('fontes/idroid.otf');
}

body {
    background-color: #84E1AD;
    margin: 0px;
}

header {
    background-image: linear-gradient(to bottom, #3BD17F, #1A5C38);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.368);
}

header > h1 {
    color: white;
    font-family: 'BenchNine', sans-serif;
    font-weight: 700;
    font-size: 2em;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.333);
    text-align: center;
    margin: 0px;
    padding-top: 30px;
}

header > p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 40px;
}

nav > a{
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 10px;
}

nav {
    padding-bottom: 10px ;
}

main {
    width: 800px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.274);
}

article {
    font-family: sans-serif;
    font-size: 1em;
}

article > p {
    text-align: justify;
    text-indent: 20px;
}

span > a {
    text-decoration: none;
    color: #1A5C38;
    font-weight: bold;
}

span > a::after {
    content: ' 🔗';
}

.topico {
    font-family: 'android';
    color: #1A5C38;
}

article > h3 {
    background-image: linear-gradient(to right, #C5EBD6, white);
}

span {
    color: #1A5C38;
    font-weight: bold;
}

#video {
    background-color: #1A5C38;
    text-align: center;
    padding: 20px;
}

#extra {
    background-color: #a9f2c9;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.297);
    padding-bottom: 15px;
}

h4 {
    background-color: #3BD17F;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-weight: bolder;
    margin: 20px 0px 0px 0px;
}

#extra > p {
    text-indent: 20px;
    padding: 10px;
    margin: 5px 5px 0px 5px;
}

ul { 
    display: inline-block;
    margin: 10px;
}

.lista1 {
    display: inline-block;
    margin-right: 150px;
}

.lista2 {
    display: inline-block;
}

p#final {
   margin-top: 0px;
   padding-top: 5px;
}

footer {
    background-color: #1A5C38;
}

footer > p {
    margin: 20px 0px 0px 0px;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: lighter;
}